div{
    width: 10px;
    height: 10px;
    background-color: rgb(172, 255, 254);

    margin: 5px;
    padding: 10px;
}

span{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 255, 136);

    padding: 10px;
}